body{
  background-color: skyblue;
}

/* h1, h2, h3, p, label {
  color: white;
} */

.header{
  color: black;
  background-color: white;
  border-top: 3px solid  #0099ff;
  border-bottom: 3px solid  #0099ff;
  text-align: center;
  padding: 20px;
}

.formInput{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.formInput label{
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: white;
  border: 1px solid #0099ff;
  border-radius: 5px;
}

.button{
  background-color: #0099ff;
  border: none;
  color: white;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  transition: color 1s, background-color .5s;
}

.button:hover{
  color: black;
  background-color: white;
}

input{
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #0099ff;
}

select{
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #0099ff;
}

select .noShow{
  display: none;
}

h2{
  color: black;
  background-color: white;
  border-top: 3px solid  #0099ff;
  border-bottom: 3px solid  #0099ff;
  text-align: center;
  padding: 10px;
}

.teamList{
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.teamInfo{
  border: 5px solid #0099ff;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  margin: 10px 30px;
}